
/* CARDS ON HOVER */
#skills-table:has(.card-animate:hover) .card-animate:not(.card-animate:hover){
    scale: 80%;
    opacity: 0.85;
    filter: blur(3px);
}
.card-animate {
    transition: all 300ms ease-in-out;
    box-shadow: 0 10px 18px 3px rgba(0, 0, 0, 0.5);
}

.card-animate:hover {
    transform: translateY(-10px);
    transform: rotate(-1deg);
    scale: 110%;
    box-shadow: 4px 5px 15px 6px rgba(0, 0, 0, 0.8);
}


/* IMAGES BRIGHTNESS ON HOVER */
.img-animate {
    transition: all 300ms ease-in-out;
}

#skills-table:has(.card-animate:hover) .card-animate:hover .img-animate {
    filter: saturate(1.3);
}
#skills-table:has(.card-animate:hover) .card-animate:not(:hover) .img-animate{
    filter: saturate(0.7);
}


/* SKILLS TITLE ON HOVER */
#skills-table:has(.card-animate:hover) .card-animate:hover .skill-title {
    opacity: 100%;
    margin-top: 0;
    color: black;
    padding-bottom: 5%;
}

.skill-title {
    transition: all 350ms ease-out;
    opacity: 0;
    margin-top: -12%;
    color: transparent;
}
