.nav-bar { 
    margin-top: -3.1rem;
    transition: ease, 1s;
    color: rgb(0, 0, 0);
    background-color: rgba(187, 187, 187, 0.70);
}

.nav-bar:hover {
    margin-top: 0;
    transition: ease, 1s;
    background-color: rgba(255, 255, 255, 0.90);
    box-shadow: 0px 0px 15px 1px rgba(255, 255, 255, 0.70);
}

li:hover {
    text-shadow: rgba(0, 0, 0, 0.70) 0px 0px 12px;
}

ul {
    font-family: nexa, sans-serif;
    font-style: normal;
    font-weight: 100;
}
