/* Make navbar be on top of every / any other element even with stacking context */
.father-nav-bar {
    position: relative;
    z-index: 9999;
}
/* ----------------------------------------------------------------------------- */

.nav-bar { 
    transition: ease-out, 1.2s;
    color: black;
    background-color: rgb(184, 134, 11);
    box-shadow: 0px 0px 10px 7px rgba(41, 41, 41, 0.9);
}

li:hover {
    text-shadow: rgba(0, 0, 0, 0.70) 0px 0px 12px;
    color: white;
}

ul {
    font-family: nexa, sans-serif;
    font-style: normal;
    font-weight: 100;
}
