nav { 
    margin-top: -4.3rem;
    transition: ease, 1s;
    color: white;
}

nav:hover {
    margin-top: 0;
    transition: ease, 1s;
    background-color: rgba(255, 255, 255, 0.10);
    box-shadow: 0px 0px 15px 1px rgba(255, 255, 255, 0.15);
}

li:hover {
    text-shadow: white 0px 0px 12px;
}

ul {
    font-family: nexa, sans-serif;
    font-style: normal;
    font-weight: 100;
}
