@import url('https://fonts.googleapis.com/css2?family=Handlee:wght@400..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}


/* CSS RESET */
* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* CSS RESET */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  background-color: white;
}


.text-special {
  font-family: 'Halndlee', cursive;
  font-optical-sizing: auto;
  font-style: normal;
}


/* CUSTOM SCROLL BAR */

body {
  --sb-track-color: transparent;
  --sb-thumb-color: #616161;
  --sb-size: 7px;
}

body::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 0px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 0px;
  
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}

/* --------------------------------------------------- */

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
